body{
    font-family: 'Roboto Mono', monospace;
    background-image: url("../images/mountains.jpg");
    background-size: cover;
    background-repeat: repeat;
    z-index:2;
    position: absolute;
    top: 0;
    left:0;
    min-width: 100%;
}

.page{
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 30px;
}

#outerWrapper, #searchWrapper{
    background: rgba(240,240,240,0.7);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    min-width: 60%;
    margin-top: 5px;
}

#searchWrapper{
    background: rgba(240,240,240,0.7);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    min-width: 60%;
    margin-top: 20px;
    padding-bottom: 5%;
    padding-top: 5%;
}


.img-border{
    max-width: 60%;
    max-height: 70%;
    margin-top: 10%;
    min-width: 60%;
    background-image: url("../images/img_border.jpg");
    background-size: 100%;
    filter: grayscale(20%);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
}

.book-img{
    width:92%;
    background-color: white;
    padding-right:2%;
    height: 100%;
    filter: grayscale(20%);
}

.book-img:hover{
    filter: grayscale(0%)
}

.img-border:hover{
    filter: grayscale(0%);
    cursor: pointer;
}

.rating-input, #search-input{
    max-width: 100%;
    background: rgba(0,0,0,0.7);
    font-weight: bold;
    border: 0;
    height: 40px;
    padding-left: 10px;
    color: white;
    border-radius: 7px;
    text-align: center;
    margin: 0;
}
#search-input{
    margin-left: 4%;
    max-width: 90%;
    min-width: 90%;
    font-size: 12px;
}

#book-tip-wrapper{
    background-color: slategrey;
    margin-top: 5px;
    padding: 5%;
    min-height: 463px;
    box-shadow: 0 0 3px 3px rgba(0,0,0,0.2);
}

#outerWrapper h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    min-height: 50px;
    min-width: 100%;
    max-width: 100%;
    margin: 2% 0;
    font-size: 14px;
    word-wrap: normal;
    padding-bottom: 10px;
}

#title_row{
    background-color: rgba(0,0,0,0.7);
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 5%;
    margin-top: 0;
    color: white;
}

#year_p, #author_p, #genre_p{
    font-size: 12px;
}

#refreshIcon, #submit-circle{
    padding-top: 20px;
    text-align: left;
    width: 100%;
    color: #424a54;
    height: 100%;
    min-height: 40px;
}

#refreshIcon:hover, #submit-circle:hover{
    color: grey;
    cursor: pointer;
}

.icon-col i{
    margin: 0;
    font-size: 20px;
    width: 30px;
    padding: 2px 0 0;
    vertical-align: center;
}

.icon-col{
    width: 30px;
    justify-content: center;
    text-align: center;
}

.circle-text{
    color: white;
    padding-top: 4px;
}

.tip{
    padding-bottom: 20px;
    padding-top: 10px;
}

.tip p{
    padding-top: 30px;
    text-align: center;
}

.page{
    margin: 0 auto;
}

#update-rating-title, #already-rated-title{
    text-align: center;
    font-size: 24px;
    width: 95%;
    background-color: #595b75;;
    color: white;
}

#input_row{
    margin: 0;
    padding: 0;
}

.input-mod{
    margin: 0;
    padding: 0;
}

#rating-feedback{
    font-size: 10px;
    min-height: 30px;
    padding-top: 10px;
}

#dashboard-id{
    margin-top: 110px;
    width: 90%;
    padding-right: 10%;
    text-align: center;
}

#dashboard-id h1{
    padding-top: 10px;
    text-shadow: 1px 1px 2px black, 0 0 25px white;
}

#user-id-box{
    border-radius: 5px;
    font-weight: bold;
    background-color: mediumslateblue;
    text-align: center;
    padding: 5px 20px;
    margin-top: 15px;
}

.scroll-window{
    background: rgba(240,240,240,0.7);
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.2);
    min-width: 60%;
    margin-top: 5px;
    padding-bottom: 5%;
    padding-top: 5%;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 461px;
    max-height: 461px;
}

.already-rated-book, .recommended-item, .recommended-item-title{
    background: rgba(240,240,240,0.7);
    border-radius: 5px;
    box-shadow: 0 0 2px 2px rgba(0,0,0,0.05);
    min-width: 80%;
    margin: 1% auto;
    align-items: center!important;
    background:linear-gradient(to bottom, white 0%, lightgrey 100%);
}

.recommended-item-title{
    background-color: white;
    box-shadow: none;
}

.recommended-item{
    background:linear-gradient(to bottom, white 0%, whitesmoke 10%);
}

#recommendations-window:hover{
    cursor: default;
}

.already-rated-book:hover{
    background:linear-gradient(to bottom, white 80%, whitesmoke 100%);
    cursor: pointer;
}

.delete-button{
    color: #8c0000;
    font-weight: bold;
}

.delete-button:hover{
    color: #ab0000;
}

#special-book-row{
    min-height: 180px;
    max-height: 180px;
    min-width: 100%;
    margin: 0;
}

.search-col{
    width: 90%;
    margin-left: 5%;
}

#avg-rating-p{
    margin:0;
    font-weight: bold;
    color: darkslategrey;
    padding-top: 1%;
    font-size: 11px;
    text-align: right;
    padding-bottom: 1%;
}

#no-rating:hover{
    cursor: default;
}