{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='javaScript/form.js') }}"></script>
{% endblock %}

{% block background %}
<img id="backgroundImg" src="{{ url_for('static', filename='images/books.png') }}" alt="Book shelves">
{% endblock %}


{% block body %}

{% endblock %}