{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommender_view.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recommendations.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">

{% endblock %}

{% block body %}
<div id="dashboard-id" class="container">
    <div class="row">
        <div class="col-3 col-md-2">
            <p id="user-id-box">User 10231</p>
        </div>
        <div class="col-9 col-md-10">
            <h1 id="dashboard-title">Your Dashboard</h1>
        </div>
    </div>
</div>

<div class="page container d-flex justify-content-center">
    <div class="row">
        <div class="main-col col-12 col-md-6">
        <div class="row justify-content-center">
            <h1 id="update-rating-title">Update Rating</h1>
            <div class="col-12 col-lg-8">
                <div id="outerWrapper" class="container">
                    <p id="avg-rating-p">Avg. rating: </p>
                    <div id="title_row" class="row justify-content-center">
                        <h1 id="title_h1"></h1>
                    </div>
                    <div id="special-book-row" class="row">
                        <div class="col d-flex justify-content-center">
                            <div class="img-border">
                                <img class="book-img" src="">
                            </div>
                        </div>
                        <div class="col">
                            <p id="year_p"></p>
                            <p id="author_p"></p>
                            <p id="genre_p"></p>
                        </div>
                    </div>
                    <form>
                        <div id="input_row" class="row">
                            <div class="input-mod col-8 d-flex justify-content-center">
                                <input id="rating-box" placeholder="Enter Rating" maxlength="1" class="rating-input" name="rating">
                            </div>
                            <div class="icon-col col-2">
                                <i id="refreshIcon" title="Randomly choose a new book to rate" class="fas fa-sync-alt"></i>
                            </div>
                            <div class="icon-col col-2">
                                <i id="submit-circle" title="Submit updated rating" class="fas fa-arrow-alt-circle-up"></i>
                            </div>
                        </div>
                        <p id="rating-feedback"></p>
                    </form>
                </div>
                <div id="searchWrapper">
                    <div class="row">
                        <div class="search-col">
                                <select autofocus id="search-input">
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 d-none d-lg-block ">
                <div id="book-tip-wrapper" class="container">
                    <div class="tip">
                            <i class="far fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x circle-text">
                                <i title="Randomly choose a new book to rate" class="fas fa-sync-alt"></i>
                            </strong>
                            <p>Randomize Book</p>
                    </div>
                    <div class="tip">
                        <i class="far fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x circle-text">
                                <i title="Randomly choose a new book to rate" class="fas fa-arrow-alt-circle-up"></i>
                            </strong>
                            <p>Submit rating</p>
                    </div>
                    <div class="tip">
                        <i class="far fa-circle fa-stack-2x"></i>
                            <strong class="fa-stack-1x circle-text">
                                <i class="fas fa-search"></i>
                            </strong>
                            <p>Search for a title</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-col col-12 col-md-6">
        <div class="row justify-content-center">
            <h1 id="already-rated-title">Already Rated</h1>
        </div>
        <div class="scroll-window">
            <div class="row">
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
                <div class="already-rated-book">
                    <p>Book 1</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="main_container container">
    <div class="row justify-content-center">
        <div class="main_col col-md-12 col-lg-4 col-xl-6">
                <p id="recommendations-title">Recommended Titles</p>
                <div class="scroll-window">
                    <div id="number_rec_row" class="row justify-content-center">
                        <div class="col-8 d-flex justify-content-center">
                            <p>Number of recommendations</p>
                        </div>
                        <div class="col-4">
                            <div class="row">
                                <p class="label_num">5</p>
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            <p class="label_num">10</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                        <div class="already-rated-book">
                            <p>Book 1</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="main_col d-none d-md-block col-md-12 col-lg-8 col-xl-6">
                <p id="genres-title">Genres</p>
                <div class="d-flex" id="svg-holder"></div>
            </div>
    </div>
</div>
{% endblock %}

{% block script_links %}
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="{{ url_for('static', filename='javaScript/recommendations.js') }}"></script>
{% endblock %}
