{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock %}

{% block background %}
<img id="backgroundImg" src="{{ url_for('static', filename='images/books.png') }}" alt="Book shelves">
{% endblock %}


{% block body %}
<div class="container d-flex justify-content-center">
    <div class="row d-flex justify-content-center">
        <div class="col d-flex justify-content-center">
        <div id="formWrapper" class="col-lg-4 col-md-6 col-sm-8 col-xs-10 d-flex justify-content-center">
        <div class="row">
                <div id="innerForm">
                <div id="bannerRow" class="row justify-content-center">
                    <p id="formDesc">Sign up with your new User ID!</p>
                </div>
                <br>
                <div class="row">
                    <div id="inputRow" class="col text-center">
                        <input id="userInput" type="text" readonly name="userID">
                    </div>
                </div>
                <div class="row justify-content-center">
                    <p id="feedback_message">Select continue to create this new user and view their ratings dashboard</p>
                </div>
                <br>
                <div class="row justify-content-center">
                    <a id="formSubmit">Continue</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>

{% endblock %}

{% block script_links %}
    <script src="{{ url_for('static', filename='javaScript/signUpForm.js') }}"></script>
{% endblock %}